<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Welcome to Jade Pug,</p>
        <p>Founded during my time at St. Lawrence College, Jade Pug has grown into a small collection of apps and games. After releasing my first project in college, I got hooked on building apps for my kids.</p>
        <p>At Jade Pug, I am committed to fostering curiosity through building beautiful tech.Thanks for stopping by,</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
        <p>Philip Lalonde</p>
        <p>Jade Rapids Founder</p>
      </div>
    </div>
  </div>
</section>
